{% extends 'index.html' %}
{% block main %}
    <h2 class="sub-header">书籍列表</h2><a class="btn btn-primary btn-block" href="/book_add">新增书籍</a>
    <div class="table-responsive">
        <table class="table table-striped">

            <thead>
            <tr>
                <th>序号</th>
                <th>书籍名称</th>
                <th>出版社ID</th>
                <th>出版社名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for i in all_books %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.publisher.id }}</td>
                    <td>{{ i.publisher.name }}</td>
                    <td>
                        <a class="btn btn-danger btn-sm" href="/book_del/?pk={{ i.pk }}">删除</a>
                        <a class="btn btn-info btn-sm" href="/book_edit/?pk={{ i.pk }}">修改</a>
                    </td>

                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
    {% load mytags %}
    {% pagination 10 %}


{% endblock %}

{% block book_active %}
    active
{% endblock %}