{% extends 'index.html' %}
{% block main %}
    <h2 class="sub-header">新增作者</h2>
    <div class="table-responsive">
        <form action="" method="post" class="form-inline">
            <div class="{% if error %}form-group has-error{% endif %}" style="display: inline-block">
                {#                        <label for="d01">请输入要新增的作者姓名：</label>#}
                <input type="text" name="author_name" class="form-control" id="d01" placeholder="请输入要新增的作者姓名：">
            </div>
            <select name="book_all" id="" class="form-control" multiple>
                {% for book in book_all %}
                    <option value="{{ book.id }}">{{ book.name }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-default">提交</button>
            <h4>{{ error }}</h4>
        </form>
    </div>

{% endblock %}
{% block author_active %}
    active
{% endblock %}