<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Dropdown
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">key text</a></li>
        <li role="separator" class="divider"></li>
        {% load mytags %}
        {% for i in num %}
            <li><a href="#">{{ i }} {{ i }}的平方是{{ i|multiply:i }}</a></li>
        {% endfor %}

    </ul>
</div>