<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>注册丨iStudy</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<body>
<div class="register-container">
    <h1>iStudy</h1>
    <div class="connect">
        <p>欢迎注册iStudy</p>
    </div>
    <form action="" method="post" id="registerForm" novalidate>
        {% csrf_token %}
        <div>
            {{ form_obj.username }}
            <span>{{ form_obj.username.errors.0 }}</span>
        </div>
        <div>
            {{ form_obj.password }}
            {{ form_obj.password.errors.0 }}
        </div>
        <div>
            {{ form_obj.re_password }}
            {{ form_obj.re_password.errors.0 }}
        </div>
        <div>
            {{ form_obj.position }}
            {{ form_obj.position.errors.0 }}
        </div>
        <div>
            {{ form_obj.company }}
            {{ form_obj.company.errors.0 }}
        </div>
        <div>
            {{ form_obj.phone }}
            {{ form_obj.phone.errors.0 }}
        </div>
        <button id="submit" type="submit">注 册</button>
    </form>
    <a href={% url 'login' %}>
        <button type="button" class="register-tis">已经有账号？</button>
    </a>
</div>
</body>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/supersized.3.2.7.min.js' %}"></script>
<script src="{% static 'js/supersized-init.js' %}"></script>
{#<script src="{% static 'js/jquery.validate.min.js' %}"></script>#}

</html>